* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-weight: 400;
  line-height: 1.5625rem;
  color: #fff;
  background-color: #000;
}

img {
  width: 100%;
}

.header {
  padding-block: 1.875rem;
  padding-inline: 3.125rem;
}
.header p {
  font-size: 16px;
  font-weight: 300;
}

h1 {
  font-size: 50px;
}

.bottom {
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #111;
  justify-content: center;
}