@import 'https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap';
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-weight: 400;
  line-height: 1.5625rem;
  color: #fff;
  background-color: #000;
}

.container {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  background-color: #faff00;
}

ul {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
ulli {
  display: flex;
  margin: 0 0.9375rem;
}

a {
  padding-inline: 3rem;
  font-size: 1.3rem;
  font-weight: 900;
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}
a:hover {
  color: #474aff;
}

.wrapper__1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  background-color: #000;
}
.wrapper__2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 3rem;
  padding-top: 10rem;
  text-align: center;
  background-color: #000;
}
.wrapper__3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 2.5rem;
  text-align: center;
  background-color: #000;
}
.wrapper__4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding-inline: 20rem;
  padding-bottom: 1rem;
  text-align: center;
  background-color: #000;
}
.wrapper .title1 {
  padding-top: 80px;
  font-size: 4rem;
  animation: fadeIn 5s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.wrapper h2 {
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.wrapper p {
  font-size: 1.125rem;
  font-weight: 200;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}
.gallery__item {
  width: 100%;
  height: 100%;
  cursor: pointer;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.gallery__item:hover {
  transform: scale(1.1);
}
.gallery a {
  padding: 0;
}

.wrapper__4 {
  justify-content: center;
  width: 100%;
}
.wrapper__4 p {
  font-size: 1.3rem;
  font-weight: 400;
}

.chat {
  padding: 1.875rem;
  margin: 0;
}

.box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, minmax(23.5rem, 3fr));
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}
.box__1, .box__2, .box__3, .box__4, .box__5 {
  justify-content: center;
  margin-block: 2.5625rem 1.5rem;
}
.box label {
  font-size: 1.375rem;
}
.box input {
  width: 100%;
  height: 6.3125rem;
  padding: 0.1875rem 0.1875rem 0.1875rem 1.375rem;
  margin-top: 0.625rem;
  background-color: #faff00;
  border: solid 0 #fff;
  border-radius: 1.875rem;
}

button {
  width: 15.625rem;
  height: 3.3125rem;
  padding: 0.1875rem 0.1875rem 0.1875rem 1.375rem;
  margin-top: 0.625rem;
  background-color: #faff00;
  border: solid 0 #fff;
  border-radius: 1.875rem;
}
button span {
  padding-right: 0.9375rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: initial;
}

.bottom {
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background-color: #111;
}

video {
  width: 100%;
  height: auto;
  margin-top: 3.125rem;
}

.floating {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #61dafb;
  border-radius: 50%;
  animation: floatAnimation 20s infinite linear;
}

.floating {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: #61dafb;
  border-radius: 50%;
  animation: floatAnimation 20s infinite linear;
}

@keyframes floatAnimation {
  0% {
    top: 10%;
    left: 50%;
  }
  25% {
    top: 30%;
    left: 80%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  75% {
    top: 70%;
    left: 20%;
  }
  100% {
    top: 90%;
    left: 50%;
  }
}